.container-fluid {
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #434343,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #434343,
    #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.the-welcome-section {
  height: 400px;
}
.the-contact-section {
  height: 200px;
}
.demo-cards {
  background-color: lightGray;
  opacity: 70;
}
.justin-image {
  z-index: 99999;
  background-color: blue;
  background: #333 url(../assets/pics/justinBed.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  min-height: 300px;
  opacity: 80%;
}
.skills-about {
  min-height: 150px;
}

.demo-card-link {
  color: #70deda;
}

.rotating-shape {
  z-index: 0;
}

.demos-title {
    color: #70deda;
    font-family: aquire-normal;
    margin-top: 20px;
}
