.container-fluid {
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #0f0417,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #0f0417,
    #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card-title {
    color: #672991;
}
.card-text {
    color: #889494;
}
.the-welcome-section {
  height: 400px;
}
.the-contact-section {
  height: 200px;
}
.justin-image {
  z-index: 99999;
  background-color: blue;
  background: #333 url(../assets/pics/justinBed.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  border-radius: 80%;
  border-top: 4px solid #672991;
  border-bottom: 4px solid #70deda;
  border-left: 4px solid #672991;
  border-right: 4px solid #70deda;
  min-height: 400px;
  opacity: .60;
}

@media only screen and (max-width: 575px) {
    .justin-image {
      margin-top: -400px;
      opacity: .60;
    }
  }
.skills-about {
  min-height: 150px;
  font-family: aquire-normal;
}

#skill-section {
    padding-top: 50px;
}

.demo-cards {
    background-color: transparent;
    border-top: 1px solid #70deda;
}

.demo-card-link {
  color: #70deda;
  font-family: aquire-thin;
}

.demo-card-link:hover {
    color: #672991;
  }

.rotating-shape {
  z-index: 0;
}

.demos-title {
    color: #70deda;
    font-family: aquire-normal;
    margin-top: 20px;
}
