.container-fluid {
  width: 100vw;
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #0f0417,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #0f0417,
    #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card-title {
    color: #672991;
}
.card-text {
    color: #889494;
}
.the-welcome-section {
  height: 400px;
}
.the-contact-section {
  height: 200px;
}
.justin-image {
  background-color: blue;
  background: #333 url(../assets/pics/rock-on.jp2);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  border-radius: 80%;
  border-top: 4px solid #672991;
  border-bottom: 4px solid #70deda;
  border-left: 4px solid #672991;
  border-right: 4px solid #70deda;
  min-height: 400px;
  opacity: .60;
}

@media only screen and (max-width: 575px) {
    .justin-image {
      margin-top: -400px;
      opacity: .60;
    }
  }
.skills-about {
  min-height: 150px;
  font-family: aquire-normal;
}

#skill-section {
    padding-top: 50px;
}
@media only screen and (max-width: 1080px) {
  #skill-section {
    padding-top: 480px;
  }
}
@media only screen and (max-width: 750px) {
  #skill-section {
    padding-top: 660px;
  }
}
@media only screen and (max-width: 575px) {
  #skill-section {
    padding-top: 900px;
  }
}
@media only screen and (max-width: 490px) {
  #skill-section {
    padding-top: 950px;
  }
}

.demo-cards {
    background-color: transparent;
    border-top: 1px solid #70deda;
}

.demo-card-link {
  color: #70deda;
  font-family: aquire-thin;
}

.demo-card-link:hover {
    color: #672991;
  }

.rotating-shape {
  z-index: 1;
  margin-left: -50px;
}


.demos-title {
    color: #70deda;
    font-family: aquire-normal;
    margin-top: 20px;
}

.download-section {
  min-height: 120px;
  margin-top: 20px;
}

.download-btn {
  border: 1px solid #672991;
  color: #70deda;
}

.download-btn:hover {
  opacity: .80;
  background-color: #70deda;
  color: #672991;
}

.download-label {
  color: #70deda;
  font-family: aquire-normal;
}

.update-service-worker {
  border: 2px solid #70deda;
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  background-color: rgba(39, 20, 46, .8);
  height: 80vh;
  width: 80vw;
  z-index: 5;
}

.btn-outline-bender {
  border: 2px solid #70deda;
  color: #70deda;
  font-family: aquire-normal;
}

.btn-outline-bender:hover {
  color: #672991;
}