/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: aquire;
    src: url(assets/fonts/AquireBold.otf) format("opentype");
    font-display: swap;
}

@font-face {
    font-family: aquire-thin;
    src: url(assets/fonts/AquireLight.otf) format("opentype");
    font-display: swap;
}

@font-face {
    font-family: aquire-normal;
    src: url(assets/fonts/Aquire.otf) format("opentype");
    font-display: swap;
}

.about-justin {
    color: #acbdbd;
    font-family: aquire-thin;
    letter-spacing: 1px;
    /* -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #70deda;     */
}

.purple-coloring {
    color: #70deda;
}

#the-about-justin-indexpage {
    background-color: rgba(23, 0, 36, 0.8);
    border-radius: 5%;
    padding: 18px;
    position: absolute;
    top: 180px;
    left: 100px;
    font-size: 16px;
    width: 600px;
    z-index: 2;
}

@media only screen and (max-width: 1080px) {
    #the-about-justin-indexpage {
        top: 610px;
    }  
}
@media only screen and (max-width: 840px) {
    #the-about-justin-indexpage {
        top: 650px;
    }   
}
@media only screen and (max-width: 750px) {
    #the-about-justin-indexpage {
        top: 620px;
        width: 500px;
    }
}
@media only screen and (max-width: 660px) {
    #the-about-justin-indexpage {
        top: 650px;
        width: 400px;
    }
}
@media only screen and (max-width: 575px) {
    #the-about-justin-indexpage {
        top: 580px;
        left: 115px;
        width: 310px;
    }
}
@media only screen and (max-width: 490px) {
    #the-about-justin-indexpage {
        top: 580px;
        left: 20px;
        width: 280px;
    }
}